.header {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.085em;
  background: linear-gradient(112.03deg, #567dff 24.09%, #c2ff3e 79.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.output {
  background: #ffffff;
  box-shadow: 11px 1px 37px -29px rgba(255, 92, 22, 0.53);
  border-radius: 33px;
  transition: color 0.4s;
}
.output:hover{
  box-shadow: 11px 1px 37px -29px rgba(245, 144, 86, 0.63);
}
